.form {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.label {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  font-weight: 500;
}
.btn_add {
  width: 100px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 5px 10px;
}
.btn_add:hover {
  background-color: aquamarine;
}
.input {
  margin-top: 5px;
  border: 1px solid gray;
  outline: none;
  border-radius: 5px;
  padding: 5px 10px;
}
.input:focus {
  outline: none;
  border: 1px solid aquamarine;
}
